html {
  background-color: grey;
}

.App {
  min-height: 100vh;
    /*/*-------------------- Mudar Cores /*-------------------- */
  background-color: grey;
}

.form {
  width: 100%;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  opacity : 0.9 ;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em; 
  /*-------------------- Mudar Cores --------------*/
  background-color: #282c34;
  color: white;
}

.form h3{
margin-top: 1em;
font-size: -20%;
}

.divForm{
margin-top: 9em;
margin-left:  33%;
margin-right: 33%;
}

.item button{
  font-size: 0.8em;
  border-bottom-left-radius: 1.2em;
  border-top-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  border-top-right-radius: 1.2em; 

    /*/*-------------------- Mudar Cores /*--------------------*/
  background-color: grey;
  color: white;
}